@model IEnumerable<TesteWeb.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Funcionarios</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Criar novo usuário</a>
</p>
<table id="#table-estoque" class="table">
    <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Senha</th>
            <th scope="col">Data de Cadastro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script>
        let table = new DataTable('#table-cadastro');

    </script>

}